# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these will
# be requested for review when someone opens a pull request.
*       @eriknordmark @rvs

/api/   @eriknordmark @rvs @zedvijay @deitch
