*.swp
obj
dist/
build-tools/bin/
images/installer.yml
images/rootfs.yml
images/rootfs-xen.yml
images/rootfs-acrn.yml
pkg/pillar/Dockerfile
pkg/qrexec-dom0/Dockerfile
pkg/qrexec-lib/Dockerfile
.go/
tags
tmp/
