obj
dist/
build-tools/bin/
images/installer.yml
images/rootfs.yml
pkg/pillar/Dockerfile
pkg/qrexec-dom0/Dockerfile
pkg/qrexec-lib/Dockerfile
.go/
.idea/encodings.xml
.idea/eve.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
