*.swp
.idea/
.vscode/
obj
dist/
build-tools/bin/
images/out/
.go/
tags
tmp/
mkdocs.yml
yetus-output/
assets/
pkg/kernel/build.yml
pkg/new-kernel/build.yml
pkg/kernel/certs/*.pem
conf/authorized_keys
conf/grub.cfg
conf/device.cert.pem
conf/device.key.pem
