/dts-v1/;

/memreserve/	0x0000000000000000 0x0000000007400000;
/ {
	model = "HiKey Development Board";
	compatible = "hisilicon,hikey", "hisilicon,hi6220";
	hisi,boardid = <0x0 0x0 0x4 0x3>;
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	interrupt-parent = <0x1>;

	smb {
		compatible = "simple-bus";
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		interrupt-parent = <0x1>;
		ranges;

		pinmux@f7010000 {
			pinctrl-names = "default";
			pinctrl-0 = <0x2 0x3 0x4 0x5 0x6>;
			compatible = "pinctrl-single";
			reg = <0x0 0xf7010000 0x0 0x27c>;
			#address-cells = <0x1>;
			#size-cells = <0x1>;
			#gpio-range-cells = <0x3>;
			pinctrl-single,register-width = <0x20>;
			pinctrl-single,function-mask = <0x7>;
			pinctrl-single,gpio-range = <0x7 0x50 0x8 0x0 0x7 0x58 0x8 0x0 0x7 0x60 0x8 0x0 0x7 0x68 0x8 0x0 0x7 0x70 0x8 0x0 0x7 0x78 0x2 0x0 0x7 0x2 0x6 0x1 0x7 0x8 0x8 0x1 0x7 0x0 0x1 0x1 0x7 0x10 0x7 0x1 0x7 0x17 0x3 0x1 0x7 0x1c 0x5 0x1 0x7 0x21 0x3 0x1 0x7 0x2b 0x5 0x1 0x7 0x30 0x8 0x1 0x7 0x38 0x8 0x1 0x7 0x4a 0x6 0x1 0x7 0x7a 0x1 0x1 0x7 0x7e 0x1 0x1 0x7 0x7f 0x8 0x1 0x7 0x87 0x8 0x1 0x7 0x8f 0x8 0x1 0x7 0x97 0x8 0x1>;
			linux,phandle = <0x19>;
			phandle = <0x19>;

			boot_sel_pmx_func {
				pinctrl-single,pins = <0x0 0x0>;
				linux,phandle = <0x2>;
				phandle = <0x2>;
			};

			emmc_pmx_func {
				pinctrl-single,pins = <0x100 0x0 0x104 0x0 0x108 0x0 0x10c 0x0 0x110 0x0 0x114 0x0 0x118 0x0 0x11c 0x0 0x120 0x0 0x124 0x0>;
				linux,phandle = <0x45>;
				phandle = <0x45>;
			};

			sd_pmx_func {
				pinctrl-single,pins = <0xc 0x0 0x10 0x0 0x14 0x0 0x18 0x0 0x1c 0x0 0x20 0x0>;
				linux,phandle = <0x4b>;
				phandle = <0x4b>;
			};

			sd_pmx_idle {
				pinctrl-single,pins = <0xc 0x1 0x10 0x1 0x14 0x1 0x18 0x1 0x1c 0x1 0x20 0x1>;
				linux,phandle = <0x4e>;
				phandle = <0x4e>;
			};

			sdio_pmx_func {
				pinctrl-single,pins = <0x128 0x0 0x12c 0x0 0x130 0x0 0x134 0x0 0x138 0x0 0x13c 0x0>;
				linux,phandle = <0x52>;
				phandle = <0x52>;
			};

			sdio_pmx_idle {
				pinctrl-single,pins = <0x128 0x1 0x12c 0x1 0x130 0x1 0x134 0x1 0x138 0x1 0x13c 0x1>;
				linux,phandle = <0x55>;
				phandle = <0x55>;
			};

			isp_pmx_func {
				pinctrl-single,pins = <0x24 0x0 0x28 0x0 0x2c 0x0 0x30 0x1 0x34 0x1 0x38 0x1 0x3c 0x0 0x40 0x0 0x44 0x0 0x48 0x0 0x4c 0x1 0x50 0x1 0x54 0x0 0x58 0x0 0x5c 0x0 0x60 0x0>;
			};

			hkadc_ssi_pmx_func {
				pinctrl-single,pins = <0x68 0x0>;
				linux,phandle = <0x3>;
				phandle = <0x3>;
			};

			codec_clk_pmx_func {
				pinctrl-single,pins = <0x6c 0x0>;
				linux,phandle = <0x4>;
				phandle = <0x4>;
			};

			codec_pmx_func {
				pinctrl-single,pins = <0x70 0x1 0x74 0x0 0x78 0x0 0x7c 0x0>;
			};

			fm_pmx_func {
				pinctrl-single,pins = <0x80 0x1 0x84 0x1 0x88 0x1 0x8c 0x1>;
			};

			bt_pmx_func {
				pinctrl-single,pins = <0x90 0x0 0x94 0x0 0x98 0x0 0x9c 0x0>;
			};

			pwm_in_pmx_func {
				pinctrl-single,pins = <0xb8 0x1>;
				linux,phandle = <0x5>;
				phandle = <0x5>;
			};

			bl_pwm_pmx_func {
				pinctrl-single,pins = <0xbc 0x1>;
				linux,phandle = <0x6>;
				phandle = <0x6>;
			};

			uart0_pmx_func {
				pinctrl-single,pins = <0xc0 0x0 0xc4 0x0>;
			};

			uart1_pmx_func {
				pinctrl-single,pins = <0xc8 0x0 0xcc 0x0 0xd0 0x0 0xd4 0x0>;
				linux,phandle = <0x10>;
				phandle = <0x10>;
			};

			uart2_pmx_func {
				pinctrl-single,pins = <0xd8 0x0 0xdc 0x0 0xe0 0x0 0xe4 0x0>;
				linux,phandle = <0x13>;
				phandle = <0x13>;
			};

			uart3_pmx_func {
				pinctrl-single,pins = <0x180 0x1 0x184 0x1 0x188 0x1 0x18c 0x1>;
				linux,phandle = <0x15>;
				phandle = <0x15>;
			};

			uart4_pmx_func {
				pinctrl-single,pins = <0x1d0 0x1 0x1d4 0x1 0x1d8 0x1 0x1dc 0x1>;
				linux,phandle = <0x17>;
				phandle = <0x17>;
			};

			uart5_pmx_func {
				pinctrl-single,pins = <0x1c8 0x1 0x1cc 0x1>;
			};

			i2c0_pmx_func {
				pinctrl-single,pins = <0xe8 0x0 0xec 0x0>;
			};

			i2c1_pmx_func {
				pinctrl-single,pins = <0xf0 0x0 0xf4 0x0>;
			};

			i2c2_pmx_func {
				pinctrl-single,pins = <0xf8 0x0 0xfc 0x0>;
				linux,phandle = <0x1a>;
				phandle = <0x1a>;
			};

			spi0_pmx_func {
				pinctrl-single,pins = <0x1a0 0x1 0x1a4 0x1 0x1a8 0x1 0x1ac 0x1>;
				linux,phandle = <0x1f>;
				phandle = <0x1f>;
			};

			gpio-range {
				#pinctrl-single,gpio-range-cells = <0x3>;
				linux,phandle = <0x7>;
				phandle = <0x7>;
			};
		};

		pinmux@f7010800 {
			pinctrl-names = "default";
			pinctrl-0 = <0x8 0x9 0xa 0xb 0xc>;
			compatible = "pinconf-single";
			reg = <0x0 0xf7010800 0x0 0x28c>;
			#address-cells = <0x1>;
			#size-cells = <0x1>;
			pinctrl-single,register-width = <0x20>;

			boot_sel_cfg_func {
				pinctrl-single,pins = <0x0 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x1 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
				linux,phandle = <0x8>;
				phandle = <0x8>;
			};

			hkadc_ssi_cfg_func {
				pinctrl-single,pins = <0x6c 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
				linux,phandle = <0x9>;
				phandle = <0x9>;
			};

			emmc_clk_cfg_func {
				pinctrl-single,pins = <0x104 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x20 0x70>;
				linux,phandle = <0x46>;
				phandle = <0x46>;
			};

			emmc_cfg_func {
				pinctrl-single,pins = <0x108 0x0 0x10c 0x0 0x110 0x0 0x114 0x0 0x118 0x0 0x11c 0x0 0x120 0x0 0x124 0x0 0x128 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x1 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x10 0x70>;
				linux,phandle = <0x47>;
				phandle = <0x47>;
			};

			emmc_rst_cfg_func {
				pinctrl-single,pins = <0x12c 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x10 0x70>;
				linux,phandle = <0x48>;
				phandle = <0x48>;
			};

			sd_clk_cfg_func {
				pinctrl-single,pins = <0xc 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x30 0x70>;
				linux,phandle = <0x4c>;
				phandle = <0x4c>;
			};

			sd_clk_cfg_idle {
				pinctrl-single,pins = <0xc 0x0>;
				pinctrl-single,bias-pulldown = <0x2 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
				linux,phandle = <0x4f>;
				phandle = <0x4f>;
			};

			sd_cfg_func {
				pinctrl-single,pins = <0x10 0x0 0x14 0x0 0x18 0x0 0x1c 0x0 0x20 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x20 0x70>;
				linux,phandle = <0x4d>;
				phandle = <0x4d>;
			};

			sd_cfg_idle {
				pinctrl-single,pins = <0x10 0x0 0x14 0x0 0x18 0x0 0x1c 0x0 0x20 0x0>;
				pinctrl-single,bias-pulldown = <0x2 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
				linux,phandle = <0x50>;
				phandle = <0x50>;
			};

			sdio_clk_cfg_func {
				pinctrl-single,pins = <0x134 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x20 0x70>;
				linux,phandle = <0x53>;
				phandle = <0x53>;
			};

			sdio_clk_cfg_idle {
				pinctrl-single,pins = <0x134 0x0>;
				pinctrl-single,bias-pulldown = <0x2 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
				linux,phandle = <0x56>;
				phandle = <0x56>;
			};

			sdio_cfg_func {
				pinctrl-single,pins = <0x138 0x0 0x13c 0x0 0x140 0x0 0x144 0x0 0x148 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x1 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x10 0x70>;
				linux,phandle = <0x54>;
				phandle = <0x54>;
			};

			sdio_cfg_idle {
				pinctrl-single,pins = <0x138 0x0 0x13c 0x0 0x140 0x0 0x144 0x0 0x148 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x1 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
				linux,phandle = <0x57>;
				phandle = <0x57>;
			};

			isp_cfg_func1 {
				pinctrl-single,pins = <0x28 0x0 0x2c 0x0 0x30 0x0 0x34 0x0 0x38 0x0 0x3c 0x0 0x40 0x0 0x44 0x0 0x48 0x0 0x4c 0x0 0x50 0x0 0x58 0x0 0x5c 0x0 0x60 0x0 0x64 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
			};

			isp_cfg_idle1 {
				pinctrl-single,pins = <0x34 0x0 0x38 0x0>;
				pinctrl-single,bias-pulldown = <0x2 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
			};

			isp_cfg_func2 {
				pinctrl-single,pins = <0x54 0x0>;
				pinctrl-single,bias-pulldown = <0x2 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
			};

			codec_clk_cfg_func {
				pinctrl-single,pins = <0x70 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x10 0x70>;
				linux,phandle = <0xa>;
				phandle = <0xa>;
			};

			codec_clk_cfg_idle {
				pinctrl-single,pins = <0x70 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
			};

			codec_cfg_func1 {
				pinctrl-single,pins = <0x74 0x0>;
				pinctrl-single,bias-pulldown = <0x2 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
			};

			codec_cfg_func2 {
				pinctrl-single,pins = <0x78 0x0 0x7c 0x0 0x80 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x10 0x70>;
			};

			codec_cfg_idle2 {
				pinctrl-single,pins = <0x78 0x0 0x7c 0x0 0x80 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
			};

			fm_cfg_func {
				pinctrl-single,pins = <0x84 0x0 0x88 0x0 0x8c 0x0 0x90 0x0>;
				pinctrl-single,bias-pulldown = <0x2 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
			};

			bt_cfg_func {
				pinctrl-single,pins = <0x94 0x0 0x98 0x0 0x9c 0x0 0xa0 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
			};

			bt_cfg_idle {
				pinctrl-single,pins = <0x94 0x0 0x98 0x0 0x9c 0x0 0xa0 0x0>;
				pinctrl-single,bias-pulldown = <0x2 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
			};

			pwm_in_cfg_func {
				pinctrl-single,pins = <0xbc 0x0>;
				pinctrl-single,bias-pulldown = <0x2 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
				linux,phandle = <0xb>;
				phandle = <0xb>;
			};

			bl_pwm_cfg_func {
				pinctrl-single,pins = <0xc0 0x0>;
				pinctrl-single,bias-pulldown = <0x2 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
				linux,phandle = <0xc>;
				phandle = <0xc>;
			};

			uart0_cfg_func1 {
				pinctrl-single,pins = <0xc4 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x1 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
			};

			uart0_cfg_func2 {
				pinctrl-single,pins = <0xc8 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x10 0x70>;
			};

			uart1_cfg_func1 {
				pinctrl-single,pins = <0xcc 0x0 0xd4 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x1 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
				linux,phandle = <0x11>;
				phandle = <0x11>;
			};

			uart1_cfg_func2 {
				pinctrl-single,pins = <0xd0 0x0 0xd8 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
				linux,phandle = <0x12>;
				phandle = <0x12>;
			};

			uart2_cfg_func {
				pinctrl-single,pins = <0xdc 0x0 0xe0 0x0 0xe4 0x0 0xe8 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
				linux,phandle = <0x14>;
				phandle = <0x14>;
			};

			uart3_cfg_func {
				pinctrl-single,pins = <0x190 0x0 0x194 0x0 0x198 0x0 0x19c 0x0>;
				pinctrl-single,bias-pulldown = <0x2 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
				linux,phandle = <0x16>;
				phandle = <0x16>;
			};

			uart4_cfg_func {
				pinctrl-single,pins = <0x1e0 0x0 0x1e4 0x0 0x1e8 0x0 0x1ec 0x0>;
				pinctrl-single,bias-pulldown = <0x2 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
				linux,phandle = <0x18>;
				phandle = <0x18>;
			};

			uart5_cfg_func {
				pinctrl-single,pins = <0x1d8 0x0 0x1dc 0x0>;
				pinctrl-single,bias-pulldown = <0x2 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
			};

			i2c0_cfg_func {
				pinctrl-single,pins = <0xec 0x0 0xf0 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
			};

			i2c1_cfg_func {
				pinctrl-single,pins = <0xf4 0x0 0xf8 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
			};

			i2c2_cfg_func {
				pinctrl-single,pins = <0xfc 0x0 0x100 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
				linux,phandle = <0x1b>;
				phandle = <0x1b>;
			};

			spi0_cfg_func {
				pinctrl-single,pins = <0x1b0 0x0 0x1b4 0x0 0x1b8 0x0 0x1bc 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
				linux,phandle = <0x20>;
				phandle = <0x20>;
			};
		};

		pinmux@f8001800 {
			pinctrl-names = "default";
			pinctrl-0 = <0xd>;
			compatible = "pinconf-single";
			reg = <0x0 0xf8001800 0x0 0x78>;
			#address-cells = <0x1>;
			#size-cells = <0x1>;
			pinctrl-single,register-width = <0x20>;

			rstout_n_cfg_func {
				pinctrl-single,pins = <0x0 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
				linux,phandle = <0xd>;
				phandle = <0xd>;
			};

			pmu_peri_en_cfg_func {
				pinctrl-single,pins = <0x4 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
			};

			sysclk0_en_cfg_func {
				pinctrl-single,pins = <0x8 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
			};

			jtag_tdo_cfg_func {
				pinctrl-single,pins = <0xc 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x20 0x70>;
			};

			rf_reset_cfg_func {
				pinctrl-single,pins = <0x70 0x0 0x74 0x0>;
				pinctrl-single,bias-pulldown = <0x0 0x2 0x0 0x2>;
				pinctrl-single,bias-pullup = <0x0 0x1 0x0 0x1>;
				pinctrl-single,drive-strength = <0x0 0x70>;
			};
		};

		sram@fff80000 {
			compatible = "hisilicon,hi6220-sramctrl", "syscon";
			reg = <0x0 0xfff80000 0x0 0x12000>;
			linux,phandle = <0x5b>;
			phandle = <0x5b>;
		};

		uart@f8015000 {
			compatible = "arm,pl011", "arm,primecell";
			reg = <0x0 0xf8015000 0x0 0x1000>;
			interrupts = <0x0 0x24 0x4>;
			clocks = <0xe 0x28>;
			clock-names = "apb_pclk";
			status = "ok";
		};

		uart@f7111000 {
			compatible = "arm,pl011", "arm,primecell";
			reg = <0x0 0xf7111000 0x0 0x1000>;
			interrupts = <0x0 0x25 0x4>;
			reset-controller-reg = <0x330 0x334 0x338 0x5>;
			clock-freq-high = <0x1>;
			clocks = <0xf 0x11>;
			clock-names = "apb_pclk";
			clk-enable-flag = <0x0>;
			fifo-deep-size = <0x40>;
			status = "ok";
			pinctrl-names = "default";
			pinctrl-0 = <0x10 0x11 0x12>;
		};

		uart@f7112000 {
			compatible = "arm,pl011", "arm,primecell";
			reg = <0x0 0xf7112000 0x0 0x1000>;
			interrupts = <0x0 0x26 0x4>;
			reset-controller-reg = <0x330 0x334 0x338 0x6>;
			clocks = <0xf 0x12>;
			clock-names = "apb_pclk";
			clk-enable-flag = <0x0>;
			fifo-deep-size = <0x40>;
			status = "ok";
			pinctrl-names = "default";
			pinctrl-0 = <0x13 0x14>;
		};

		uart@f7113000 {
			compatible = "arm,pl011", "arm,primecell";
			reg = <0x0 0xf7113000 0x0 0x1000>;
			interrupts = <0x0 0x27 0x4>;
			reset-controller-reg = <0x330 0x334 0x338 0x7>;
			clocks = <0xf 0x13>;
			clock-names = "apb_pclk";
			clk-enable-flag = <0x0>;
			fifo-deep-size = <0x10>;
			status = "ok";
			pinctrl-names = "default";
			pinctrl-0 = <0x15 0x16>;
		};

		uart@f7114000 {
			compatible = "arm,pl011", "arm,primecell";
			reg = <0x0 0xf7114000 0x0 0x1000>;
			interrupts = <0x0 0x28 0x4>;
			reset-controller-reg = <0x330 0x334 0x338 0x8>;
			clocks = <0xf 0x14>;
			clock-names = "apb_pclk";
			clk-enable-flag = <0x0>;
			fifo-deep-size = <0x10>;
			status = "ok";
			pinctrl-names = "default";
			pinctrl-0 = <0x17 0x18>;
		};

		rtc@170000 {
			compatible = "arm,pl031", "arm,primecell";
			reg = <0x0 0xf8003000 0x0 0x1000>;
			interrupts = <0x0 0xc 0x4>;
			clocks = <0xe 0x29>;
			clock-names = "apb_pclk";
		};

		dma@f7370000 {
			compatible = "hisilicon,k3-dma-1.0";
			reg = <0x0 0xf7370000 0x0 0x1000>;
			#dma-cells = <0x1>;
			dma-channels = <0xf>;
			dma-requests = <0x20>;
			interrupts = <0x0 0x54 0x4>;
			clocks = <0xf 0xb>;
			dma-no-cci;
			dma-type = "hi6220_dma";
			status = "ok";
			linux,phandle = <0x1e>;
			phandle = <0x1e>;
		};

		mailbox {
			#mbox-cells = <0x1>;
			compatible = "hisilicon,hi6220-mbox";
			reg = <0x0 0xf7510000 0x0 0x1000 0x0 0x6dff800 0x0 0x800>;
			interrupts = <0x0 0x5e 0x4>;
			linux,phandle = <0x5c>;
			phandle = <0x5c>;
		};

		dual_timer@f8008000 {
			compatible = "arm,sp804", "arm,primecell";
			reg = <0x0 0xf8008000 0x0 0x1000>;
			interrupts = <0x0 0xe 0x4 0x0 0xf 0x4>;
			clocks = <0xe 0x1f 0xe 0x1f>;
			clock-names = "apb_pclk", "apb_pclk";
		};

		gpio@f8011000 {
			compatible = "arm,pl061", "arm,primecell";
			reg = <0x0 0xf8011000 0x0 0x1000>;
			interrupts = <0x0 0x34 0x4>;
			gpio-controller;
			#gpio-cells = <0x2>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			clocks = <0xe 0x2>;
			clock-names = "apb_pclk";
			status = "ok";
			linux,phandle = <0x1d>;
			phandle = <0x1d>;
		};

		gpio@f8012000 {
			compatible = "arm,pl061", "arm,primecell";
			reg = <0x0 0xf8012000 0x0 0x1000>;
			interrupts = <0x0 0x35 0x4>;
			gpio-controller;
			#gpio-cells = <0x2>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			clocks = <0xe 0x2>;
			clock-names = "apb_pclk";
			status = "ok";
			linux,phandle = <0x1c>;
			phandle = <0x1c>;
		};

		gpio@f8013000 {
			compatible = "arm,pl061", "arm,primecell";
			reg = <0x0 0xf8013000 0x0 0x1000>;
			interrupts = <0x0 0x36 0x4>;
			gpio-controller;
			#gpio-cells = <0x2>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			clocks = <0xe 0x2>;
			clock-names = "apb_pclk";
			status = "ok";
			linux,phandle = <0x24>;
			phandle = <0x24>;
			xen,passthrough;
		};

		gpio@f8014000 {
			compatible = "arm,pl061", "arm,primecell";
			reg = <0x0 0xf8014000 0x0 0x1000>;
			interrupts = <0x0 0x37 0x4>;
			gpio-controller;
			#gpio-cells = <0x2>;
			gpio-ranges = <0x19 0x0 0x50 0x8>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			clocks = <0xe 0x2>;
			clock-names = "apb_pclk";
			status = "ok";
			linux,phandle = <0x2d>;
			phandle = <0x2d>;
		};

		gpio@f7020000 {
			compatible = "arm,pl061", "arm,primecell";
			reg = <0x0 0xf7020000 0x0 0x1000>;
			interrupts = <0x0 0x38 0x4>;
			gpio-controller;
			#gpio-cells = <0x2>;
			gpio-ranges = <0x19 0x0 0x58 0x8>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			clocks = <0xe 0x2>;
			clock-names = "apb_pclk";
			status = "ok";
			linux,phandle = <0x2e>;
			phandle = <0x2e>;
			xen,passthrough;
		};

		gpio@f7021000 {
			compatible = "arm,pl061", "arm,primecell";
			reg = <0x0 0xf7021000 0x0 0x1000>;
			interrupts = <0x0 0x39 0x4>;
			gpio-controller;
			#gpio-cells = <0x2>;
			gpio-ranges = <0x19 0x0 0x60 0x8>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			clocks = <0xe 0x2>;
			clock-names = "apb_pclk";
			status = "ok";
			linux,phandle = <0x2f>;
			phandle = <0x2f>;
		};

		gpio@f7022000 {
			compatible = "arm,pl061", "arm,primecell";
			reg = <0x0 0xf7022000 0x0 0x1000>;
			interrupts = <0x0 0x3a 0x4>;
			gpio-controller;
			#gpio-cells = <0x2>;
			gpio-ranges = <0x19 0x0 0x68 0x8>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			clocks = <0xe 0x2>;
			clock-names = "apb_pclk";
			status = "ok";
			linux,phandle = <0x21>;
			phandle = <0x21>;
		};

		gpio@f7023000 {
			compatible = "arm,pl061", "arm,primecell";
			reg = <0x0 0xf7023000 0x0 0x1000>;
			interrupts = <0x0 0x3b 0x4>;
			gpio-controller;
			#gpio-cells = <0x2>;
			gpio-ranges = <0x19 0x0 0x70 0x8>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			clocks = <0xe 0x2>;
			clock-names = "apb_pclk";
			status = "ok";
			linux,phandle = <0x30>;
			phandle = <0x30>;
		};

		gpio@f7024000 {
			compatible = "arm,pl061", "arm,primecell";
			reg = <0x0 0xf7024000 0x0 0x1000>;
			interrupts = <0x0 0x3c 0x4>;
			gpio-controller;
			#gpio-cells = <0x2>;
			gpio-ranges = <0x19 0x0 0x78 0x2 0x19 0x2 0x2 0x6>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			clocks = <0xe 0x2>;
			clock-names = "apb_pclk";
			status = "ok";
			linux,phandle = <0x26>;
			phandle = <0x26>;
		};

		gpio@f7025000 {
			compatible = "arm,pl061", "arm,primecell";
			reg = <0x0 0xf7025000 0x0 0x1000>;
			interrupts = <0x0 0x3d 0x4>;
			gpio-controller;
			#gpio-cells = <0x2>;
			gpio-ranges = <0x19 0x0 0x8 0x8>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			clocks = <0xe 0x2>;
			clock-names = "apb_pclk";
			status = "ok";
			linux,phandle = <0x27>;
			phandle = <0x27>;
		};

		gpio@f7026000 {
			compatible = "arm,pl061", "arm,primecell";
			reg = <0x0 0xf7026000 0x0 0x1000>;
			interrupts = <0x0 0x3e 0x4>;
			gpio-controller;
			#gpio-cells = <0x2>;
			gpio-ranges = <0x19 0x0 0x0 0x1 0x19 0x1 0x10 0x7>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			clocks = <0xe 0x2>;
			clock-names = "apb_pclk";
			status = "ok";
			linux,phandle = <0x25>;
			phandle = <0x25>;
		};

		gpio@f7027000 {
			compatible = "arm,pl061", "arm,primecell";
			reg = <0x0 0xf7027000 0x0 0x1000>;
			interrupts = <0x0 0x3f 0x4>;
			gpio-controller;
			#gpio-cells = <0x2>;
			gpio-ranges = <0x19 0x0 0x17 0x3 0x19 0x3 0x1c 0x5>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			clocks = <0xe 0x2>;
			clock-names = "apb_pclk";
			status = "ok";
			linux,phandle = <0x28>;
			phandle = <0x28>;
		};

		gpio@f7028000 {
			compatible = "arm,pl061", "arm,primecell";
			reg = <0x0 0xf7028000 0x0 0x1000>;
			interrupts = <0x0 0x40 0x4>;
			gpio-controller;
			#gpio-cells = <0x2>;
			gpio-ranges = <0x19 0x0 0x21 0x3 0x19 0x3 0x2b 0x5>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			clocks = <0xe 0x2>;
			clock-names = "apb_pclk";
			status = "ok";
			linux,phandle = <0x29>;
			phandle = <0x29>;
		};

		gpio@f7029000 {
			compatible = "arm,pl061", "arm,primecell";
			reg = <0x0 0xf7029000 0x0 0x1000>;
			interrupts = <0x0 0x41 0x4>;
			gpio-controller;
			#gpio-cells = <0x2>;
			gpio-ranges = <0x19 0x0 0x30 0x8>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			clocks = <0xe 0x2>;
			clock-names = "apb_pclk";
			status = "ok";
			linux,phandle = <0x2a>;
			phandle = <0x2a>;
		};

		gpio@f702a000 {
			compatible = "arm,pl061", "arm,primecell";
			reg = <0x0 0xf702a000 0x0 0x1000>;
			interrupts = <0x0 0x42 0x4>;
			gpio-controller;
			#gpio-cells = <0x2>;
			gpio-ranges = <0x19 0x0 0x38 0x8>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			clocks = <0xe 0x2>;
			clock-names = "apb_pclk";
			status = "ok";
			linux,phandle = <0x2b>;
			phandle = <0x2b>;
		};

		gpio@f702b000 {
			compatible = "arm,pl061", "arm,primecell";
			reg = <0x0 0xf702b000 0x0 0x1000>;
			interrupts = <0x0 0x43 0x4>;
			gpio-controller;
			#gpio-cells = <0x2>;
			gpio-ranges = <0x19 0x0 0x4a 0x6 0x19 0x6 0x7a 0x1 0x19 0x7 0x7e 0x1>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			clocks = <0xe 0x2>;
			clock-names = "apb_pclk";
			status = "ok";
			linux,phandle = <0x2c>;
			phandle = <0x2c>;
		};

		gpio@f702c000 {
			compatible = "arm,pl061", "arm,primecell";
			reg = <0x0 0xf702c000 0x0 0x1000>;
			interrupts = <0x0 0x44 0x4>;
			gpio-controller;
			#gpio-cells = <0x2>;
			gpio-ranges = <0x19 0x0 0x7f 0x8>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			clocks = <0xe 0x2>;
			clock-names = "apb_pclk";
			status = "ok";
			linux,phandle = <0x31>;
			phandle = <0x31>;
		};

		gpio@f702d000 {
			compatible = "arm,pl061", "arm,primecell";
			reg = <0x0 0xf702d000 0x0 0x1000>;
			interrupts = <0x0 0x45 0x4>;
			gpio-controller;
			#gpio-cells = <0x2>;
			gpio-ranges = <0x19 0x0 0x87 0x8>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			clocks = <0xe 0x2>;
			clock-names = "apb_pclk";
			status = "ok";
			linux,phandle = <0x32>;
			phandle = <0x32>;
		};

		gpio@f702e000 {
			compatible = "arm,pl061", "arm,primecell";
			reg = <0x0 0xf702e000 0x0 0x1000>;
			interrupts = <0x0 0x46 0x4>;
			gpio-controller;
			#gpio-cells = <0x2>;
			gpio-ranges = <0x19 0x0 0x8f 0x8>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			clocks = <0xe 0x2>;
			clock-names = "apb_pclk";
			status = "ok";
			linux,phandle = <0x33>;
			phandle = <0x33>;
		};

		gpio@f702f000 {
			compatible = "arm,pl061", "arm,primecell";
			reg = <0x0 0xf702f000 0x0 0x1000>;
			interrupts = <0x0 0x47 0x4>;
			gpio-controller;
			#gpio-cells = <0x2>;
			gpio-ranges = <0x19 0x0 0x97 0x8>;
			interrupt-controller;
			#interrupt-cells = <0x2>;
			clocks = <0xe 0x2>;
			clock-names = "apb_pclk";
			status = "ok";
			linux,phandle = <0x34>;
			phandle = <0x34>;
		};

		i2c@f7102000 {
			compatible = "snps,designware-i2c";
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			reg = <0x0 0xf7102000 0x0 0x1000>;
			interrupts = <0x0 0x2e 0x4>;
			clocks = <0xf 0xf>;
			clock-names = "clk_i2c2";
			i2c-sda-hold-time-ns = <0x12c>;
			delay-reg = <0x0 0xf8 0x0 0x4>;
			reset-controller-reg = <0x330 0x334 0x338 0x3>;
			pinctrl-names = "default";
			pinctrl-0 = <0x1a 0x1b>;
			status = "ok";

			adv7533@39 {
				compatible = "adi,adv7533";
				reg = <0x39>;
				interrupt-parent = <0x1c>;
				interrupts = <0x1 0x2>;
				pd-gpio = <0x1d 0x4 0x0>;
				adi,input-depth = <0x8>;
				adi,input-colorspace = "rgb";
				adi,input-clock = "1x";
				adi,clock-delay = <0x0>;
				adi,embedded-sync;
				linux,phandle = <0x23>;
				phandle = <0x23>;
			};
		};

		spi@f7106000 {
			compatible = "arm,pl022", "arm,primecell";
			reg = <0x0 0xf7106000 0x0 0x1000>;
			interrupts = <0x0 0x32 0x4>;
			bus-id = <0x0>;
			enable-dma = <0x1>;
			dmas = <0x1e 0xc 0x1e 0xd>;
			dma-names = "rx", "tx";
			clocks = <0xf 0x15>;
			clock-names = "apb_pclk";
			pinctrl-names = "default";
			pinctrl-0 = <0x1f 0x20>;
			num-cs = <0x4>;
			cs-gpios = <0x21 0x2 0x0 0x21 0x3 0x0 0x21 0x4 0x0 0x21 0x5 0x0>;
			status = "ok";
		};

		display-subsystem {
			compatible = "hisilicon,hi6220-drm";
			#address-cells = <0x2>;
			#size-cells = <0x2>;
			ranges;
			dma-coherent;

			ade@f4100000 {
				compatible = "hisilicon,hi6220-ade";
				reg = <0x0 0xf4100000 0x0 0x7800 0x0 0xf4410000 0x0 0x1000 0x0 0xf4520000 0x0 0x1000>;
				reg-names = "ade_base", "media_base", "media_noc_base";
				clocks = <0x22 0x5 0x22 0x1e 0x22 0x22 0xe 0x9 0xe 0xa>;
				clock-names = "clk_ade_core", "aclk_codec_jpeg_src", "clk_ade_pix", "clk_syspll_src", "clk_medpll_src";
				interrupts = <0x0 0x72 0x4 0x0 0x73 0x4>;
				ade_core_clk_rate = <0x15752a00>;
				media_noc_clk_rate = <0x112a8800>;
			};

			dsi {
				#address-cells = <0x1>;
				#size-cells = <0x0>;
				compatible = "hisilicon,hi6220-dsi";
				reg = <0x0 0xf4107800 0x0 0x100>;
				clocks = <0x22 0x1>;
				clock-names = "pclk_dsi";
				vc = <0x0>;
				encoder-slave = <0x23>;
			};
		};
	};

	gpio_rstout_n {
		gpios;
	};

	gpio_pmu_peri_en {
		gpios;
	};

	gpio_sysclk0_en {
		gpios;
	};

	gpio_jtag_tdo {
		gpios;
	};

	gpio_pwr_hold {
		gpios = <0x1d 0x0 0x0>;
	};

	gpio_dsi_sel {
		gpios = <0x1d 0x1 0x0>;
	};

	gpio_usb_hub_reset_n {
		gpios = <0x1d 0x2 0x0>;
	};

	gpio_usb_sel {
		gpios = <0x1d 0x3 0x0>;
	};

	gpio_hdmi_pd {
		gpios = <0x1d 0x4 0x0>;
	};

	gpio_wl_en {
		gpios = <0x1d 0x5 0x0>;
	};

	gpio_pwron_det {
		gpios = <0x1d 0x6 0x0>;
	};

	gpio_usb_dev_det {
		gpios = <0x1d 0x7 0x0>;
	};

	gpio_sd_det {
		gpios = <0x1c 0x0 0x0>;
	};

	gpio_hdmi_int {
		gpios = <0x1c 0x1 0x0>;
	};

	gpio_pmu_irq_n {
		gpios = <0x1c 0x2 0x0>;
		linux,phandle = <0x41>;
		phandle = <0x41>;
	};

	gpio_wl_host_wake {
		gpios = <0x1c 0x3 0x0>;
	};

	gpio_nfc_int {
		gpios = <0x1c 0x4 0x0>;
	};

	gpio_unused_001 {
		gpios = <0x1c 0x5 0x0>;
	};

	gpio_bt_reg_on {
		gpios = <0x1c 0x7 0x0>;
	};

	gpio_rf_reset0 {
		gpios;
	};

	gpio_rf_reset1 {
		gpios;
	};

	gpio_boot_sel {
		gpios = <0x25 0x0 0x0>;
	};

	gpio_pmu_ssi {
		gpios;
	};

	gpio_gps_ref_clk {
		gpios = <0x26 0x2 0x0>;
	};

	gpio_sd_clk {
		gpios = <0x26 0x3 0x0>;
	};

	gpio_sd_cmd {
		gpios = <0x26 0x4 0x0>;
	};

	gpio_sd_data0 {
		gpios = <0x26 0x5 0x0>;
	};

	gpio_sd_data1 {
		gpios = <0x26 0x6 0x0>;
	};

	gpio_sd_data2 {
		gpios = <0x26 0x7 0x0>;
	};

	gpio_sd_data3 {
		gpios = <0x27 0x0 0x0>;
	};

	gpio_unused_002 {
		gpios;
	};

	gpio_mcam_pwdn {
		gpios = <0x27 0x1 0x0>;
	};

	gpio_vcm_pwdn {
		gpios = <0x27 0x2 0x0>;
	};

	gpio_scam_pwdn {
		gpios = <0x27 0x3 0x0>;
	};

	gpio_cam_id0 {
		gpios = <0x27 0x4 0x0>;
	};

	gpio_cam_id1 {
		gpios = <0x27 0x5 0x0>;
	};

	gpio_flash_strobe {
		gpios = <0x27 0x6 0x0>;
	};

	gpio_mcam_mclk {
		gpios = <0x27 0x7 0x0>;
	};

	gpio_scam_mclk {
		gpios = <0x25 0x1 0x0>;
	};

	gpio_cam_reset0 {
		gpios = <0x25 0x2 0x0>;
	};

	gpio_cam_reset1 {
		gpios = <0x25 0x3 0x0>;
	};

	gpio_tp_rst_n {
		gpios = <0x25 0x4 0x0>;
	};

	gpio_unused_003 {
		gpios = <0x25 0x5 0x0>;
	};

	gpio_isp_sda0 {
		gpios = <0x25 0x6 0x0>;
	};

	gpio_isp_scl0 {
		gpios = <0x25 0x7 0x0>;
	};

	gpio_isp_sda1 {
		gpios = <0x28 0x0 0x0>;
	};

	gpio_isp_scl1 {
		gpios = <0x28 0x1 0x0>;
	};

	gpio_mdm_rst {
		gpios = <0x28 0x2 0x0>;
	};

	gpio_hkadc_ssi {
		gpios;
	};

	gpio_codec_clk {
		gpios;
	};

	gpio_ap_wakeup_mdm {
		gpios = <0x28 0x3 0x0>;
	};

	gpio_codec_sync {
		gpios = <0x28 0x4 0x0>;
	};

	gpio_codec_datain {
		gpios = <0x28 0x5 0x0>;
	};

	gpio_codec_dataout {
		gpios = <0x28 0x6 0x0>;
	};

	gpio_fm_xclk {
		gpios = <0x28 0x7 0x0>;
	};

	gpio_fm_xfs {
		gpios = <0x29 0x0 0x0>;
	};

	gpio_fm_di {
		gpios = <0x29 0x1 0x0>;
	};

	gpio_fm_do {
		gpios = <0x29 0x2 0x0>;
	};

	gpio_bt_xclk {
		gpios;
	};

	gpio_bt_xfs {
		gpios;
	};

	gpio_bt_di {
		gpios;
	};

	gpio_bt_do {
		gpios;
	};

	gpio_usim0_clk {
		gpios;
	};

	gpio_usim0_data {
		gpios;
	};

	gpio_usim0_rst {
		gpios;
	};

	gpio_usim1_clk {
		gpios = <0x29 0x3 0x0>;
	};

	gpio_usim1_data {
		gpios = <0x29 0x4 0x0>;
	};

	gpio_usim1_rst {
		gpios = <0x29 0x5 0x0>;
	};

	gpio_unused_004 {
		gpios = <0x29 0x6 0x0>;
	};

	gpio_unused_005 {
		gpios = <0x29 0x7 0x0>;
	};

	gpio_uart0_rxd {
		gpios = <0x2a 0x0 0x0>;
	};

	gpio_uart0_txd {
		gpios = <0x2a 0x1 0x0>;
	};

	gpio_bt_uart_cts_n {
		gpios = <0x2a 0x2 0x0>;
	};

	gpio_bt_uart_rts_n {
		gpios = <0x2a 0x3 0x0>;
	};

	gpio_bt_uart_rxd {
		gpios = <0x2a 0x4 0x0>;
	};

	gpio_bt_uart_txd {
		gpios = <0x2a 0x5 0x0>;
	};

	gpio_gps_uart_cts_n {
		gpios = <0x2a 0x6 0x0>;
	};

	gpio_gps_uart_rts_n {
		gpios = <0x2a 0x7 0x0>;
	};

	gpio_gps_uart_rxd {
		gpios = <0x2b 0x0 0x0>;
	};

	gpio_gps_uart_txd {
		gpios = <0x2b 0x1 0x0>;
	};

	gpio_i2c0_scl {
		gpios = <0x2b 0x2 0x0>;
	};

	gpio_i2c0_sda {
		gpios = <0x2b 0x3 0x0>;
	};

	gpio_i2c1_scl {
		gpios = <0x2b 0x4 0x0>;
	};

	gpio_i2c1_sda {
		gpios = <0x2b 0x5 0x0>;
	};

	gpio_i2c2_scl {
		gpios = <0x2b 0x6 0x0>;
	};

	gpio_i2c2_sda {
		gpios = <0x2b 0x7 0x0>;
	};

	gpio_emmc_clk {
		gpios;
	};

	gpio_emmc_cmd {
		gpios;
	};

	gpio_emmc_data0 {
		gpios;
	};

	gpio_emmc_data1 {
		gpios;
	};

	gpio_emmc_data2 {
		gpios;
	};

	gpio_emmc_data3 {
		gpios;
	};

	gpio_emmc_data4 {
		gpios;
	};

	gpio_emmc_data5 {
		gpios;
	};

	gpio_emmc_data6 {
		gpios;
	};

	gpio_emmc_data7 {
		gpios;
	};

	gpio_emmc_rst_n {
		gpios;
	};

	gpio_unused_006 {
		gpios;
	};

	gpio_sdio_clk {
		gpios = <0x2c 0x0 0x0>;
	};

	gpio_sdio_cmd {
		gpios = <0x2c 0x1 0x0>;
	};

	gpio_sdio_data0 {
		gpios = <0x2c 0x2 0x0>;
	};

	gpio_sdio_data1 {
		gpios = <0x2c 0x3 0x0>;
	};

	gpio_sdio_data2 {
		gpios = <0x2c 0x4 0x0>;
	};

	gpio_sdio_data3 {
		gpios = <0x2c 0x5 0x0>;
	};

	gpio_unused_007 {
		gpios;
	};

	gpio_j15_3_0 {
		gpios = <0x2d 0x0 0x0>;
	};

	gpio_jtag_sel0 {
		gpios = <0x2d 0x1 0x0>;
	};

	gpio_jtag_sel1 {
		gpios = <0x2d 0x2 0x0>;
	};

	gpio_lcd_rst_n {
		gpios = <0x2d 0x3 0x0>;
	};

	gpio_aux_ssi0 {
		gpios = <0x2d 0x4 0x0>;
	};

	gpio_wlan_active_led {
		gpios = <0x2d 0x5 0x0>;
	};

	gpio_unused_008 {
		gpios = <0x2d 0x6 0x0>;
	};

	gpio_ap_wakeup_bt {
		gpios = <0x2d 0x7 0x0>;
	};

	gpio_uart3_cts_n {
		gpios = <0x2f 0x0 0x0>;
	};

	gpio_uart3_rts_n {
		gpios = <0x2f 0x1 0x0>;
	};

	gpio_uart3_rxd {
		gpios = <0x2f 0x2 0x0>;
	};

	gpio_uart3_txd {
		gpios = <0x2f 0x3 0x0>;
	};

	gpio_aux_ssi1 {
		gpios = <0x2f 0x4 0x0>;
	};

	gpio_unused_009 {
		gpios = <0x2f 0x5 0x0>;
	};

	gpio_modem_pcm_xclk {
		gpios = <0x2f 0x6 0x0>;
	};

	gpio_modem_pcm_xfs {
		gpios = <0x2f 0x7 0x0>;
	};

	gpio_spi0_di {
		gpios = <0x21 0x0 0x0>;
	};

	gpio_spi0_do {
		gpios = <0x21 0x1 0x0>;
	};

	gpio_spi0_cs_n {
		gpios = <0x21 0x2 0x0>;
	};

	gpio_spi0_clk {
		gpios = <0x21 0x3 0x0>;
	};

	gpio_lte_tx_active {
		gpios = <0x21 0x4 0x0>;
	};

	gpio_lte_rx_active {
		gpios = <0x21 0x5 0x0>;
	};

	gpio_lcd_id0 {
		gpios = <0x21 0x6 0x0>;
	};

	gpio_dsi_te0 {
		gpios = <0x21 0x7 0x0>;
	};

	gpio_lcd_id1 {
		gpios = <0x30 0x0 0x0>;
	};

	gpio_volume1_n {
		gpios = <0x30 0x1 0x0>;
	};

	gpio_uart5_rxd {
		gpios = <0x30 0x2 0x0>;
	};

	gpio_uart5_txd {
		gpios = <0x30 0x3 0x0>;
	};

	gpio_modem_pcm_di {
		gpios = <0x30 0x4 0x0>;
	};

	gpio_modem_pcm_do {
		gpios = <0x30 0x5 0x0>;
	};

	gpio_uart4_rxd {
		gpios = <0x30 0x6 0x0>;
	};

	gpio_uart4_txd {
		gpios = <0x30 0x7 0x0>;
	};

	gpio_ap_wakeup_wl {
		gpios = <0x26 0x0 0x0>;
	};

	gpio_mdm_pwr_en {
		gpios = <0x26 0x1 0x0>;
	};

	gpio_tcxo0_afc {
		gpios = <0x2c 0x6 0x0>;
	};

	gpio_rf_ssi0 {
		gpios;
	};

	gpio_rf_tcvr_on0 {
		gpios;
	};

	gpio_rf_mipi_clk0 {
		gpios;
	};

	gpio_rf_mipi_data0 {
		gpios = <0x2c 0x7 0x0>;
	};

	gpio_flash_mask {
		gpios = <0x31 0x0 0x0>;
	};

	gpio_gps_blanking {
		gpios = <0x31 0x1 0x0>;
	};

	gpio_rf_gpio_2 {
		gpios = <0x31 0x2 0x0>;
	};

	gpio_rf_gpio_3 {
		gpios = <0x31 0x3 0x0>;
	};

	gpio_rf_gpio_4 {
		gpios = <0x31 0x4 0x0>;
	};

	gpio_rf_gpio_5 {
		gpios = <0x31 0x5 0x0>;
	};

	gpio_rf_gpio_6 {
		gpios = <0x31 0x6 0x0>;
	};

	gpio_rf_gpio_7 {
		gpios = <0x31 0x7 0x0>;
	};

	gpio_rf_gpio_8 {
		gpios = <0x32 0x0 0x0>;
	};

	gpio_rf_gpio_9 {
		gpios = <0x32 0x1 0x0>;
	};

	gpio_rf_gpio_10 {
		gpios = <0x32 0x2 0x0>;
	};

	gpio_rf_gpio_11 {
		gpios = <0x32 0x3 0x0>;
	};

	gpio_rf_gpio_12 {
		gpios = <0x32 0x4 0x0>;
	};

	gpio_rf_gpio_13 {
		gpios = <0x32 0x5 0x0>;
	};

	gpio_rf_gpio_14 {
		gpios = <0x32 0x6 0x0>;
	};

	gpio_rf_gpio_15 {
		gpios = <0x32 0x7 0x0>;
	};

	gpio_rf_gpio_16 {
		gpios = <0x33 0x0 0x0>;
	};

	gpio_rf_gpio_17 {
		gpios = <0x33 0x1 0x0>;
	};

	gpio_rf_gpio_18 {
		gpios = <0x33 0x2 0x0>;
	};

	gpio_rf_gpio_19 {
		gpios = <0x33 0x3 0x0>;
	};

	gpio_rf_gpio_20 {
		gpios = <0x33 0x4 0x0>;
	};

	gpio_rf_gpio_21 {
		gpios = <0x33 0x5 0x0>;
	};

	gpio_rf_gpio_22 {
		gpios = <0x33 0x6 0x0>;
	};

	gpio_rf_gpio_23 {
		gpios = <0x33 0x7 0x0>;
	};

	gpio_rf_gpio_24 {
		gpios = <0x34 0x0 0x0>;
	};

	gpio_rf_gpio_25 {
		gpios = <0x34 0x1 0x0>;
	};

	gpio_rf_gpio_26 {
		gpios = <0x34 0x2 0x0>;
	};

	gpio_rf_ssi1 {
		gpios = <0x34 0x3 0x0>;
	};

	gpio_rf_tcvr_on1 {
		gpios = <0x34 0x4 0x0>;
	};

	gpio_rf_gpio_29 {
		gpios = <0x34 0x5 0x0>;
	};

	gpio_rf_gpio_30 {
		gpios = <0x34 0x6 0x0>;
	};

	gpio_apt_pdm0 {
		gpios = <0x34 0x7 0x0>;
	};

	psci {
		compatible = "arm,psci-0.2";
		method = "smc";
	};

	cpus {
		#address-cells = <0x2>;
		#size-cells = <0x0>;

		cpu@0 {
			compatible = "arm,cortex-a53", "arm,armv8";
			device_type = "cpu";
			reg = <0x0 0x0>;
			enable-method = "psci";
			clocks = <0x35 0x0>;
			clock-names = "acpu0";
			clock-latency = <0x0>;
			operating-points = <0x124f80 0x144b50 0xea600 0x120160 0xb1fa8 0x10a1d0 0x69780 0xfde80 0x32c80 0xfde80>;
			cpu-idle-states = <0x36 0x37>;
			linux,phandle = <0x38>;
			phandle = <0x38>;
		};

		cpu@1 {
			compatible = "arm,cortex-a53", "arm,armv8";
			device_type = "cpu";
			reg = <0x0 0x1>;
			enable-method = "psci";
			cpu-idle-states = <0x36 0x37>;
			linux,phandle = <0x39>;
			phandle = <0x39>;
		};

		cpu@2 {
			compatible = "arm,cortex-a53", "arm,armv8";
			device_type = "cpu";
			reg = <0x0 0x2>;
			enable-method = "psci";
			cpu-idle-states = <0x36 0x37>;
			linux,phandle = <0x3a>;
			phandle = <0x3a>;
		};

		cpu@3 {
			compatible = "arm,cortex-a53", "arm,armv8";
			device_type = "cpu";
			reg = <0x0 0x3>;
			enable-method = "psci";
			cpu-idle-states = <0x36 0x37>;
			linux,phandle = <0x3b>;
			phandle = <0x3b>;
		};

		cpu@4 {
			compatible = "arm,cortex-a53", "arm,armv8";
			device_type = "cpu";
			reg = <0x0 0x100>;
			enable-method = "psci";
			cpu-idle-states = <0x36 0x37>;
			linux,phandle = <0x3c>;
			phandle = <0x3c>;
		};

		cpu@5 {
			compatible = "arm,cortex-a53", "arm,armv8";
			device_type = "cpu";
			reg = <0x0 0x101>;
			enable-method = "psci";
			cpu-idle-states = <0x36 0x37>;
			linux,phandle = <0x3d>;
			phandle = <0x3d>;
		};

		cpu@6 {
			compatible = "arm,cortex-a53", "arm,armv8";
			device_type = "cpu";
			reg = <0x0 0x102>;
			enable-method = "psci";
			cpu-idle-states = <0x36 0x37>;
			linux,phandle = <0x3e>;
			phandle = <0x3e>;
		};

		cpu@7 {
			compatible = "arm,cortex-a53", "arm,armv8";
			device_type = "cpu";
			reg = <0x0 0x103>;
			enable-method = "psci";
			cpu-idle-states = <0x36 0x37>;
			linux,phandle = <0x3f>;
			phandle = <0x3f>;
		};

		cpu-map {

			cluster0 {
				#cooling-cells = <0x2>;
				linux,phandle = <0x5f>;
				phandle = <0x5f>;

				core0 {
					cpu = <0x38>;
				};

				core1 {
					cpu = <0x39>;
				};

				core2 {
					cpu = <0x3a>;
				};

				core3 {
					cpu = <0x3b>;
				};
			};

			cluster1 {
				#cooling-cells = <0x2>;

				core0 {
					cpu = <0x3c>;
				};

				core1 {
					cpu = <0x3d>;
				};

				core2 {
					cpu = <0x3e>;
				};

				core3 {
					cpu = <0x3f>;
				};
			};
		};

		idle-states {
			entry-method = "arm,psci";

			cpu-sleep-0-0 {
				compatible = "arm,idle-state";
				local-timer-stop;
				arm,psci-suspend-param = <0x10000>;
				entry-latency-us = <0xfa>;
				exit-latency-us = <0x1f4>;
				min-residency-us = <0x3b6>;
				linux,phandle = <0x36>;
				phandle = <0x36>;
			};

			cluster-sleep-0 {
				compatible = "arm,idle-state";
				local-timer-stop;
				arm,psci-suspend-param = <0x1010000>;
				entry-latency-us = <0x258>;
				exit-latency-us = <0x44c>;
				min-residency-us = <0xa8c>;
				wakeup-latency-us = <0x5dc>;
				linux,phandle = <0x37>;
				phandle = <0x37>;
			};
		};
	};

	interrupt-controller@f6800000 {
		compatible = "arm,gic-400", "arm,cortex-a15-gic";
		reg = <0x0 0xf6801000 0x0 0x1000 0x0 0xf6802000 0x0 0x2000 0x0 0xf6804000 0x0 0x2000 0x0 0xf6806000 0x0 0x2000>;
		#interrupt-cells = <0x3>;
		#address-cells = <0x0>;
		interrupt-controller;
		interrupts = <0x1 0x9 0xf04>;
		linux,phandle = <0x1>;
		phandle = <0x1>;
	};

	ao_ctrl {
		compatible = "hisilicon,aoctrl", "syscon";
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		reg = <0x0 0xf7800000 0x0 0x2000>;
		ranges = <0x0 0x0 0xf7800000 0x2000>;
		linux,phandle = <0x40>;
		phandle = <0x40>;

		clock0@0 {
			compatible = "hisilicon,hi6220-clock-ao";
			reg = <0x0 0x1000>;
			#clock-cells = <0x1>;
			linux,phandle = <0xe>;
			phandle = <0xe>;
		};
	};

	sys_ctrl {
		compatible = "hisilicon,sysctrl";
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		reg = <0x0 0xf7030000 0x0 0x2000>;
		ranges = <0x0 0x0 0xf7030000 0x2000>;

		clock1@0 {
			compatible = "hisilicon,hi6220-clock-sys";
			reg = <0x0 0x1000>;
			#clock-cells = <0x1>;
			linux,phandle = <0xf>;
			phandle = <0xf>;
		};
	};

	media_ctrl {
		compatible = "hisilicon,mediactrl";
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		reg = <0x0 0xf4410000 0x0 0x1000>;
		ranges = <0x0 0x0 0xf4410000 0x1000>;

		clock2@0 {
			compatible = "hisilicon,hi6220-clock-media";
			reg = <0x0 0x1000>;
			#clock-cells = <0x1>;
			linux,phandle = <0x22>;
			phandle = <0x22>;
		};
	};

	pm_ctrl {
		compatible = "hisilicon,pmctrl";
		#address-cells = <0x1>;
		#size-cells = <0x1>;
		reg = <0x0 0xf7032000 0x0 0x1000>;
		ranges = <0x0 0x0 0xf7032000 0x1000>;

		clock3@0 {
			compatible = "hisilicon,hi6220-clock-power";
			reg = <0x0 0x1000>;
			#clock-cells = <0x1>;
		};
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupt-parent = <0x1>;
		interrupts = <0x1 0xd 0xff08 0x1 0xe 0xff08 0x1 0xb 0xff08 0x1 0xa 0xff08>;
	};

	reboot {
		compatible = "syscon-reboot";
		regmap = <0x40>;
		offset = <0x10>;
		mask = <0x48698284>;
	};

	acpu_ctrl@f6504000 {
		compatible = "hisilicon,acpuctrl";
		reg = <0x0 0xf6504000 0x0 0x1000>;
	};

	pmu {
		compatible = "arm,armv8-pmuv3";
		interrupts = <0x0 0x63 0x4>;
	};

	pmic@F8000000 {
		compatible = "hisilicon,hi6552-pmic-driver";
		reg = <0x0 0xf8000000 0x0 0x1000>;
		#interrupt-cells = <0x2>;
		interrupt-controller;
		pmu_irq_gpio = <0x41>;
		status = "ok";
		linux,phandle = <0x42>;
		phandle = <0x42>;

		ponkey@b1 {
			compatible = "hisilicon,hi6552-powerkey";
			interrupt-parent = <0x42>;
			interrupts = <0x6 0x0 0x5 0x0 0x4 0x0>;
			interrupt-names = "down", "up", "hold 4s";
		};

		coul@1 {
			compatible = "hisilicon,hi6552-coul";
			interrupt-parent = <0x42>;
			interrupts = <0x18 0x0 0x19 0x0 0x1a 0x0 0x1b 0x0>;
			interrupt-names = "cl_int_i", "cl_out_i", "cl_in_i", "vbat_int_i";
			battery_product_index = <0x0>;
			status = "ok";
		};

		rtc@1 {
			compatible = "hisilicon,hi6552-pmu-rtc";
			interrupt-parent = <0x42>;
			interrupts = <0x14 0x0>;
			interrupt-names = "hi6552_pmu_rtc";
			board_id = <0x1>;
		};

		regulator@a21 {
			compatible = "hisilicon,hi6552-regulator-pmic";
			regulator-name = "ldo2";
			regulator-min-microvolt = <0x2625a0>;
			regulator-max-microvolt = <0x30d400>;
			hisilicon,valid-modes-mask = <0x2>;
			hisilicon,valid-ops-mask = <0x1d>;
			hisilicon,initial-mode = <0x2>;
			hisilicon,regulator-type = <0x1>;
			hisilicon,off-on-delay = <0x78>;
			hisilicon,ctrl-regs = <0x29 0x2a 0x2b>;
			hisilicon,ctrl-data = <0x1 0x1>;
			hisilicon,vset-regs = <0x72>;
			hisilicon,vset-data = <0x0 0x3>;
			hisilicon,regulator-n-vol = <0x8>;
			hisilicon,vset-table = <0x2625a0 0x27ac40 0x2932e0 0x2ab980 0x2c4020 0x2dc6c0 0x2f4d60 0x30d400>;
			hisilicon,num_consumer_supplies = <0x1>;
			hisilicon,consumer-supplies = "sensor_analog";
		};

		regulator@a26 {
			compatible = "hisilicon,hi6552-regulator-pmic";
			regulator-name = "ldo7";
			regulator-min-microvolt = <0x1b7740>;
			regulator-max-microvolt = <0x325aa0>;
			hisilicon,valid-modes-mask = <0xa>;
			hisilicon,valid-ops-mask = <0x1d>;
			hisilicon,initial-mode = <0x2>;
			hisilicon,regulator-type = <0x1>;
			hisilicon,off-on-delay = <0x78>;
			hisilicon,ctrl-regs = <0x29 0x2a 0x2b>;
			hisilicon,ctrl-data = <0x6 0x1>;
			hisilicon,vset-regs = <0x78>;
			hisilicon,vset-data = <0x0 0x3>;
			hisilicon,regulator-n-vol = <0x8>;
			hisilicon,vset-table = <0x1b7740 0x1c3a90 0x2b7cd0 0x2c4020 0x2dc6c0 0x2f4d60 0x30d400 0x325aa0>;
			hisilicon,num_consumer_supplies = <0x1>;
			hisilicon,consumer-supplies = "sd_card_io";
			linux,phandle = <0x49>;
			phandle = <0x49>;
		};

		regulator@a29 {
			compatible = "hisilicon,hi6552-regulator-pmic";
			regulator-name = "ldo10";
			regulator-min-microvolt = <0x1b7740>;
			regulator-max-microvolt = <0x2dc6c0>;
			hisilicon,valid-modes-mask = <0xa>;
			hisilicon,valid-ops-mask = <0x1d>;
			hisilicon,initial-mode = <0x2>;
			hisilicon,regulator-type = <0x1>;
			hisilicon,off-on-delay = <0x168>;
			hisilicon,ctrl-regs = <0x2c 0x2d 0x2e>;
			hisilicon,ctrl-data = <0x1 0x1>;
			hisilicon,vset-regs = <0x7b>;
			hisilicon,vset-data = <0x0 0x3>;
			hisilicon,regulator-n-vol = <0x8>;
			hisilicon,vset-table = <0x1b7740 0x1c3a90 0x1cfde0 0x29f630 0x2ab980 0x2b7cd0 0x2c4020 0x2dc6c0>;
			hisilicon,num_consumer_supplies = <0x1>;
			hisilicon,consumer-supplies = "sd_card";
			linux,phandle = <0x4a>;
			phandle = <0x4a>;
		};

		regulator@a32 {
			compatible = "hisilicon,hi6552-regulator-pmic";
			regulator-name = "ldo13";
			regulator-min-microvolt = <0x186a00>;
			regulator-max-microvolt = <0x1dc130>;
			hisilicon,valid-modes-mask = <0xa>;
			hisilicon,valid-ops-mask = <0x1d>;
			hisilicon,initial-mode = <0x2>;
			hisilicon,regulator-type = <0x1>;
			hisilicon,off-on-delay = <0x78>;
			hisilicon,ctrl-regs = <0x2c 0x2d 0x2e>;
			hisilicon,ctrl-data = <0x4 0x1>;
			hisilicon,vset-regs = <0x7e>;
			hisilicon,vset-data = <0x0 0x3>;
			hisilicon,regulator-n-vol = <0x8>;
			hisilicon,vset-table = <0x186a00 0x192d50 0x19f0a0 0x1ab3f0 0x1b7740 0x1c3a90 0x1cfde0 0x1dc130>;
			hisilicon,num_consumer_supplies = <0x3>;
			hisilicon,consumer-supplies = "scamera_core", "mcamera_io", "scamera_io";
		};

		regulator@a33 {
			compatible = "hisilicon,hi6552-regulator-pmic";
			regulator-name = "ldo14";
			regulator-min-microvolt = <0x2625a0>;
			regulator-max-microvolt = <0x30d400>;
			hisilicon,valid-modes-mask = <0x2>;
			hisilicon,valid-ops-mask = <0x1d>;
			hisilicon,initial-mode = <0x2>;
			hisilicon,regulator-type = <0x1>;
			hisilicon,off-on-delay = <0x78>;
			hisilicon,ctrl-regs = <0x2c 0x2d 0x2e>;
			hisilicon,ctrl-data = <0x5 0x1>;
			hisilicon,vset-regs = <0x7f>;
			hisilicon,vset-data = <0x0 0x3>;
			hisilicon,regulator-n-vol = <0x8>;
			hisilicon,vset-table = <0x2625a0 0x27ac40 0x2932e0 0x2ab980 0x2c4020 0x2dc6c0 0x2f4d60 0x30d400>;
			hisilicon,num_consumer_supplies = <0x3>;
			hisilicon,consumer-supplies = "scamera_avdd", "mcamera_avdd", "mcamera_vcm";
		};

		regulator@a34 {
			compatible = "hisilicon,hi6552-regulator-pmic";
			regulator-name = "ldo15";
			regulator-min-microvolt = <0x186a00>;
			regulator-max-microvolt = <0x1dc130>;
			regulator-boot-on;
			regulator-always-on;
			hisilicon,valid-modes-mask = <0xa>;
			hisilicon,valid-ops-mask = <0x1d>;
			hisilicon,initial-mode = <0x2>;
			hisilicon,regulator-type = <0x1>;
			hisilicon,off-on-delay = <0x78>;
			hisilicon,ctrl-regs = <0x2c 0x2d 0x2e>;
			hisilicon,ctrl-data = <0x6 0x1>;
			hisilicon,vset-regs = <0x80>;
			hisilicon,vset-data = <0x0 0x3>;
			hisilicon,regulator-n-vol = <0x8>;
			hisilicon,vset-table = <0x186a00 0x192d50 0x19f0a0 0x1ab3f0 0x1b7740 0x1c3a90 0x1cfde0 0x1dc130>;
			hisilicon,num_consumer_supplies = <0x1>;
			hisilicon,consumer-supplies = "codec_analog";
		};

		regulator@a36 {
			compatible = "hisilicon,hi6552-regulator-pmic";
			regulator-name = "ldo17";
			regulator-min-microvolt = <0x2625a0>;
			regulator-max-microvolt = <0x30d400>;
			hisilicon,valid-modes-mask = <0x2>;
			hisilicon,valid-ops-mask = <0x1d>;
			hisilicon,initial-mode = <0x2>;
			hisilicon,regulator-type = <0x1>;
			hisilicon,off-on-delay = <0x78>;
			hisilicon,ctrl-regs = <0x2f 0x30 0x31>;
			hisilicon,ctrl-data = <0x0 0x1>;
			hisilicon,vset-regs = <0x82>;
			hisilicon,vset-data = <0x0 0x3>;
			hisilicon,regulator-n-vol = <0x8>;
			hisilicon,vset-table = <0x2625a0 0x27ac40 0x2932e0 0x2ab980 0x2c4020 0x2dc6c0 0x2f4d60 0x30d400>;
			hisilicon,num_consumer_supplies = <0x1>;
			hisilicon,consumer-supplies = "vibrator";
		};

		regulator@a38 {
			compatible = "hisilicon,hi6552-regulator-pmic";
			regulator-name = "ldo19";
			regulator-min-microvolt = <0x1b7740>;
			regulator-max-microvolt = <0x2dc6c0>;
			hisilicon,valid-modes-mask = <0xa>;
			hisilicon,valid-ops-mask = <0x1d>;
			hisilicon,initial-mode = <0x2>;
			hisilicon,regulator-type = <0x1>;
			hisilicon,off-on-delay = <0x168>;
			hisilicon,ctrl-regs = <0x2f 0x30 0x31>;
			hisilicon,ctrl-data = <0x2 0x1>;
			hisilicon,vset-regs = <0x84>;
			hisilicon,vset-data = <0x0 0x3>;
			hisilicon,regulator-n-vol = <0x8>;
			hisilicon,vset-table = <0x1b7740 0x1c3a90 0x1cfde0 0x29f630 0x2ab980 0x2b7cd0 0x2c4020 0x2dc6c0>;
			hisilicon,num_consumer_supplies = <0x1>;
			hisilicon,consumer-supplies = "emmc_vddm";
			linux,phandle = <0x44>;
			phandle = <0x44>;
		};

		regulator@a40 {
			compatible = "hisilicon,hi6552-regulator-pmic";
			regulator-name = "ldo21";
			regulator-min-microvolt = <0x192d50>;
			regulator-max-microvolt = <0x1e8480>;
			regulator-always-on;
			hisilicon,valid-modes-mask = <0x2>;
			hisilicon,valid-ops-mask = <0x1d>;
			hisilicon,initial-mode = <0x2>;
			hisilicon,regulator-type = <0x1>;
			hisilicon,off-on-delay = <0x78>;
			hisilicon,ctrl-regs = <0x2f 0x30 0x31>;
			hisilicon,ctrl-data = <0x4 0x1>;
			hisilicon,vset-regs = <0x86>;
			hisilicon,vset-data = <0x0 0x3>;
			hisilicon,regulator-n-vol = <0x8>;
			hisilicon,vset-table = <0x192d50 0x19f0a0 0x1ab3f0 0x1b7740 0x1c3a90 0x1cfde0 0x1dc130 0x1e8480>;
		};

		regulator@a41 {
			compatible = "hisilicon,hi6552-regulator-pmic";
			regulator-name = "ldo22";
			regulator-min-microvolt = <0xdbba0>;
			regulator-max-microvolt = <0x124f80>;
			regulator-boot-on;
			regulator-always-on;
			hisilicon,valid-modes-mask = <0x2>;
			hisilicon,valid-ops-mask = <0x1d>;
			hisilicon,initial-mode = <0x2>;
			hisilicon,regulator-type = <0x1>;
			hisilicon,off-on-delay = <0x78>;
			hisilicon,ctrl-regs = <0x2f 0x30 0x31>;
			hisilicon,ctrl-data = <0x5 0x1>;
			hisilicon,vset-regs = <0x87>;
			hisilicon,vset-data = <0x0 0x3>;
			hisilicon,regulator-n-vol = <0x8>;
			hisilicon,vset-table = <0xdbba0 0xf4240 0x100590 0x10c8e0 0x118c30 0x11edd8 0x1214e8 0x124f80>;
			hisilicon,num_consumer_supplies = <0x1>;
			hisilicon,consumer-supplies = "mcamera_core";
		};
	};

	mali@f4080000 {
		compatible = "arm,mali-450", "arm,mali-utgard";
		reg = <0x0 0x3f100000 0x0 0x708000>;
		clocks = <0x22 0x23 0x22 0x2>;
		clock-names = "clk_g3d", "pclk_g3d";
		G3D_PD_VDD-supply = <0x43>;
		mali_def_freq = <0x1f4>;
		pclk_freq = <0x90>;
		dfs_steps = <0x2>;
		dfs_lockprf = <0x1>;
		dfs_limit_max_prf = <0x1>;
		dfs_profile_num = <0x2>;
		dfs_profiles = <0xfa 0x3 0x0 0x1f4 0x1 0x0>;
		mali_type = <0x2>;
		interrupt-parent = <0x1>;
		interrupts = <0x1 0x7e 0x4 0x1 0x7e 0x4 0x1 0x7e 0x4 0x1 0x7e 0x4 0x1 0x7e 0x4 0x1 0x7e 0x4 0x1 0x7e 0x4 0x1 0x7e 0x4 0x1 0x7e 0x4 0x1 0x7e 0x4 0x1 0x7e 0x4 0x1 0x7e 0x4 0x1 0x7e 0x4 0x1 0x7e 0x4 0x1 0x7e 0x4 0x1 0x7e 0x4>;
		interrupt-names = "IRQGP", "IRQGPMMU", "IRQPP", "IRQPMU", "IRQPP0", "IRQPPMMU0", "IRQPP1", "IRQPPMMU1", "IRQPP2", "IRQPPMMU2", "IRQPP4", "IRQPPMMU4", "IRQPP5", "IRQPPMMU5", "IRQPP6", "IRQPPMMU6";
	};

	dwmmc0@f723d000 {
		compatible = "hisilicon,hi6220-dw-mshc";
		num-slots = <0x1>;
		board-mmc-bus-clk = <0x0>;
		cap-mmc-highspeed;
		non-removable;
		reg = <0x0 0xf723d000 0x0 0x1000>;
		interrupts = <0x0 0x48 0x4>;
		clocks = <0xf 0x2 0xf 0x1>;
		clock-names = "ciu", "biu";
		vmmc-supply = <0x44>;
		bus-width = <0x8>;
		pinctrl-names = "default";
		pinctrl-0 = <0x45 0x46 0x47 0x48>;
	};

	dwmmc1@f723e000 {
		compatible = "hisilicon,hi6220-dw-mshc";
		num-slots = <0x1>;
		board-mmc-bus-clk = <0x0>;
		card-detect-delay = <0xc8>;
		hisilicon,peripheral-syscon = <0x40>;
		cap-sd-highspeed;
		sd-uhs-sdr12;
		sd-uhs-sdr25;
		sd-uhs-sdr50;
		reg = <0x0 0xf723e000 0x0 0x1000>;
		interrupts = <0x0 0x49 0x4>;
		clocks = <0xf 0x4 0xf 0x3>;
		clock-names = "ciu", "biu";
		vqmmc-supply = <0x49>;
		vmmc-supply = <0x4a>;
		bus-width = <0x4>;
		disable-wp;
		cd-gpios = <0x1c 0x0 0x1>;
		pinctrl-names = "default", "idle";
		pinctrl-0 = <0x4b 0x4c 0x4d>;
		pinctrl-1 = <0x4e 0x4f 0x50>;
	};

	dwmmc2@f723f000 {
		compatible = "hisilicon,hi6220-dw-mshc";
		num-slots = <0x1>;
		board-mmc-bus-clk = <0x0>;
		reg = <0x0 0xf723f000 0x0 0x1000>;
		interrupts = <0x0 0x4a 0x4>;
		#address-cells = <0x1>;
		#size-cells = <0x0>;
		clocks = <0xf 0x6 0xf 0x5>;
		clock-names = "ciu", "biu";
		bus-width = <0x4>;
		broken-cd;
		ti,non-removable;
		non-removable;
		vmmc-supply = <0x51>;
		pinctrl-names = "default", "idle";
		pinctrl-0 = <0x52 0x53 0x54>;
		pinctrl-1 = <0x55 0x56 0x57>;

		wlcore@2 {
			compatible = "ti,wl1835";
			reg = <0x2>;
			interrupt-parent = <0x1c>;
			interrupts = <0x3 0x1>;
		};
	};

	fixedregulator@1 {
		compatible = "regulator-fixed";
		regulator-name = "wlan-en-regulator";
		regulator-min-microvolt = <0x1b7740>;
		regulator-max-microvolt = <0x1b7740>;
		gpio = <0x1d 0x5 0x0>;
		startup-delay-us = <0x11170>;
		enable-active-high;
		linux,phandle = <0x51>;
		phandle = <0x51>;
	};

	mtcmos {
		compatible = "hisilicon,hi6220-mtcmos-driver";
		hisilicon,mtcmos-steady-us = <0xa>;
		hisilicon,mtcmos-sc-on-base = <0xf7800000>;
		hisilicon,mtcmos-acpu-on-base = <0xf65a0000>;

		regulator@a1 {
			regulator-name = "G3D_PD_VDD";
			regulator-compatible = "mtcmos1";
			hisilicon,ctrl-regs = <0x830 0x834 0x83c>;
			hisilicon,ctrl-data = <0x1 0x1>;
			linux,phandle = <0x43>;
			phandle = <0x43>;
		};

		regulator@a2 {
			regulator-name = "SOC_MED";
			regulator-compatible = "mtcmos2";
			hisilicon,ctrl-regs = <0x830 0x834 0x83c>;
			hisilicon,ctrl-data = <0x2 0x1>;
		};
	};

	regulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "fixed_5v_hub";
		regulator-min-microvolt = <0x4c4b40>;
		regulator-max-microvolt = <0x4c4b40>;
		regulator-boot-on;
		gpio = <0x1d 0x7 0x0>;
		regulator-always-on;
		linux,phandle = <0x58>;
		phandle = <0x58>;
	};

	syscon@f7030000 {
		compatible = "syscon";
		reg = <0x0 0xf7030000 0x0 0x1000>;
		linux,phandle = <0x59>;
		phandle = <0x59>;
	};

	usbphy {
		compatible = "hisilicon,hi6220-usb-phy";
		vhub-supply = <0x58>;
		huawei,gpio_vbus_det = <0x24 0x6 0x0>;
		huawei,gpio_id_det = <0x24 0x5 0x0>;
		hisilicon,peripheral-syscon = <0x59>;
		clocks = <0xf 0x7>;
		linux,phandle = <0x5a>;
		phandle = <0x5a>;
	};

	usb@f72c0000 {
		compatible = "huawei,hisi-usb";
		reg = <0x0 0xf72c0000 0x0 0x40000>;
		phys = <0x5a>;
		dr_mode = "otg";
		g-use-dma;
		g-rx-fifo-size = <0x200>;
		g-np-tx-fifo-size = <0x80>;
		g-tx-fifo-size = <0x80 0x80 0x80 0x80 0x80 0x80>;
		interrupts = <0x0 0x4d 0x4>;
	};

	stub_clock {
		compatible = "hisilicon,hi6220-stub-clk";
		hisilicon,hi6220-clk-sram = <0x5b>;
		#clock-cells = <0x1>;
		mboxes = <0x5c 0x1>;
		linux,phandle = <0x35>;
		phandle = <0x35>;
	};

	tsensor@0,f7030700 {
		compatible = "hisilicon,tsensor";
		reg = <0x0 0xf7030700 0x0 0x1000>;
		interrupts = <0x0 0x7 0x4>;
		clocks = <0xf 0x16>;
		clock-names = "thermal_clk";
		#thermal-sensor-cells = <0x1>;
		linux,phandle = <0x5d>;
		phandle = <0x5d>;
	};

	thermal-zones {

		local {
			polling-delay-passive = <0x3e8>;
			polling-delay = <0x1388>;
			thermal-sensors = <0x5d 0x0>;

			trips {

				local_alert {
					temperature = <0xc350>;
					hysteresis = <0x7d0>;
					type = "passive";
				};

				local_crit {
					temperature = <0x15f90>;
					hysteresis = <0x7d0>;
					type = "critical";
				};
			};

			cooling-maps {
			};
		};

		cls1 {
			polling-delay-passive = <0x3e8>;
			polling-delay = <0x1388>;
			thermal-sensors = <0x5d 0x1>;

			trips {

				cluster1_alert {
					temperature = <0xc350>;
					hysteresis = <0x7d0>;
					type = "passive";
				};

				cluster1_crit {
					temperature = <0x15f90>;
					hysteresis = <0x7d0>;
					type = "critical";
				};
			};

			cooling-maps {
			};
		};

		cls0 {
			polling-delay = <0x3e8>;
			polling-delay-passive = <0x64>;
			sustainable-power = <0xcfd>;
			thermal-sensors = <0x5d 0x2>;

			trips {

				trip-point@0 {
					temperature = <0xfde8>;
					hysteresis = <0x3e8>;
					type = "passive";
				};

				trip-point@1 {
					temperature = <0x124f8>;
					hysteresis = <0x3e8>;
					type = "passive";
					linux,phandle = <0x5e>;
					phandle = <0x5e>;
				};
			};

			cooling-maps {

				map0 {
					trip = <0x5e>;
					contribution = <0x400>;
					cooling-device = <0x5f 0xffffffff 0xffffffff>;
				};
			};
		};

		gpu {
			polling-delay-passive = <0x3e8>;
			polling-delay = <0x1388>;
			thermal-sensors = <0x5d 0x3>;

			trips {

				gpu_alert {
					temperature = <0xc350>;
					hysteresis = <0x7d0>;
					type = "passive";
				};

				gpu_crit {
					temperature = <0x15f90>;
					hysteresis = <0x7d0>;
					type = "critical";
				};
			};

			cooling-maps {
			};
		};
	};

	aliases {
		serial0 = "/smb/uart@f8015000";
		serial1 = "/smb/uart@f7111000";
		serial2 = "/smb/uart@f7112000";
		mshc0 = "/dwmmc0@f723d000";
		mshc1 = "/dwmmc1@f723e000";
		mshc2 = "/dwmmc2@f723f000";
		spi0 = "/smb/spi@f7106000";
	};

	chosen {
		linux,initrd-start = <0x0 0xae00000>;
		linux,initrd-end = <0x0 0xb600000>;
	};

	memory {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x40000000>;
	};

	reserved-memory {
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		ranges;

		mcu-buf@05e00000 {
			no-map;
			reg = <0x0 0x5e00000 0x0 0x100000 0x0 0x740f000 0x0 0x1000>;
		};

		reboot-reason@05f01000 {
			no-map;
			reg = <0x0 0x5f01000 0x0 0x1000>;
		};

		mbox-buf@06dff000 {
			no-map;
			reg = <0x0 0x6dff000 0x0 0x1000>;
		};

		pstore@0x21f00000 {
			no-map;
			reg = <0x0 0x21f00000 0x0 0x100000>;
			linux,phandle = <0x60>;
			phandle = <0x60>;
		};
	};

	ramoops {
		compatible = "ramoops";
		memory-region = <0x60>;
		record-size = <0x0 0x20000>;
		console-size = <0x0 0x20000>;
		ftrace-size = <0x0 0x20000>;
	};

	reboot-reason@05f01000 {
		compatible = "linux,reboot-reason-sram";
		reg = <0x0 0x5f01000 0x0 0x4>;
		reason,none = <0x77665501>;
		reason,bootloader = "wfU";
		reason,recovery = <0x77665502>;
		reason,oem = "oem";
	};

	wlcore {
		compatible = "wlcore";
		gpio = <0x1f3>;
		platform-quirks = <0x1>;
		board-ref-clock = <0x4>;
	};

	kim {
		compatible = "kim";
		pinctrl-names = "default";
		pinctrl-0;
		nshutdown_gpio = <0x1f7>;
		dev_name = "/dev/ttyAMA1";
		flow_cntrl = <0x1>;
		baud_rate = <0x2dc6c0>;
	};

	btwilink {
		compatible = "btwilink";
	};

	leds {
		compatible = "gpio-leds";

		wlan_active_led {
			label = "wifi_active";
			gpios = <0x2d 0x5 0x0>;
			linux,default-trigger = "phy0tx";
			default-state = "off";
		};
	};

	hisi-ion@0 {
		compatible = "hisilicon,ion";

		heap_sys_user@0 {
			heap-name = "sys_user";
			heap-range = <0x0 0x0>;
			heap-type = "ion_system";
		};

		heap_sys_contig@0 {
			heap-name = "sys_contig";
			heap-range = <0x0 0x0>;
			heap-type = "ion_system_contig";
		};

		heap_cma@0 {
			heap-name = "cma";
			heap-range = <0x0 0x0>;
			heap-type = "ion_cma";
		};
	};
};
