# You can put your GRUB overrides into conf/grub.cfg
# E.g. to force booting int KVM mode, uncomment the following:
#   set_global eve_flavor kvm
# to force booting in Xen mode, uncomment:
#   set_global eve_flavor xen
# eve_nuke_all_disks
set_getty
#set global dom0_extra_args "rdt=mbmlocal,mbmtotal,cmt,mba,l2cat,l3cat"
set_global dom0_extra_args "$dom0_extra_args  console=ttyS0,115200n8"

set_global dom0_extra_args "$dom0_extra_args isolcpus=managed_irq,io_queue,domain,10,12,14,9,11,13 rcu_nocbs=10,12,14,9,11,13 nohz_full=10,12,14,9,11,13 irqaffinity=0,1,2,3,4,5,6,7,8,15"

set_global dom0_extra_args "$dom0_extra_args rcu_nocb_poll rcutree.kthread_prio=2 nosoftlockup"
set_global dom0_extra_args "$dom0_extra_args intel_pstate=disable intel.max_cstate=0 intel_idle.max_cstate=0 processor.max_cstate=0 processor_idle.max_cstate=0"
set_global dom0_extra_args "$dom0_extra_args numa_balancing=disable hugepages=1024"

set_global hv_eve_cpu_settings "eve_max_vcpus=2"
set_global hv_dom0_cpu_settings "dom0_max_vcpus=2"
set_global hv_eve_mem_settings "eve_mem=5200M,max:6500M"

set_global dom0_extra_args "$dom0_extra_args log_buf_len=4M"

# set_global dom0_extra_args "$dom0_extra_args  isolcpus=1-7 rcu_nocbs=1-7 nohz_full=1-7 irqaffinity=0 numa_balancing=disable hugepages=1024"
# set_global dom0_extra_args "$dom0_extra_args  intel_pstate=disable intel.max_cstate=0 intel_idle.max_cstate=0 rocessor.max_cstate=0 processor_idle.max_cstate=0"

#BOOT_IMAGE=/boot/vmlinuz-6.12.8-intel-ese-experimental-lts-rt
# root=UUID=4162e86d-0c44-4eba-9c4d-f873c26b695c ro BOOT_IMAGE=/vmlinuz-6.12.8-intel-ese-experimental-lts-rt ro nosplash
# console=ttyS0,115200 console=tty0
# clocksource=tsc tsc=reliable art=virtallow no_ipi_broadcast=1
# nosoftlockup efi=runtime
# numa_balancing=disable
# hugepages=1024
# audit=0
# nmi_watchdog=0
# irqaffinity=0,1
# mce=off
# hpet=disable
#  rcupdate.rcu_cpu_stall_suppress=1
# rcu_nocb_poll noht
# isolcpus=9,11 rcu_nocbs=9,11 nohz_full=9,11
# #intel_pstate=disable intel.max_cstate=0 intel_idle.max_cstate=0
# processor.max_cstate=0 processor_idle.max_cstate=0
# i915.force_probe=* i915.enable_rc6=0 i915.enable_dc=0 i915.disable_power_well=0 igb.blacklist=no
