# You can put your GRUB overrides into conf/grub.cfg
# E.g. to force booting int KVM mode, uncomment the following:
#   set_global eve_flavor kvm
# to force booting in Xen mode, uncomment:
#   set_global eve_flavor xen
set_getty
