---
name: Publish
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - "master"
      - "[0-9]+.[0-9]+"
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:
    if: github.event.repository.full_name == 'lf-edge/eve'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [arm64-secure, ubuntu-20.04, ubuntu-latest]
    steps:
      - name: Starting Report
        run: |
          echo Git Ref: ${{ github.ref }}
          echo GitHub Event: ${{ github.event_name }}
          echo Disk usage
          df -h
          echo Memory
          free -m
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Determine architecture prefix and ref
        env:
          REF: ${{ github.ref }}
        run: |
          # we are using ubuntu-latest as our riscv64 cross build machine
          if [ "${{ matrix.os }}" = ubuntu-latest ]; then
             APT_INSTALL="sudo apt install -y binfmt-support qemu-user-static"
             # the following weird statement is here to speed up the happy path
             # if the default server is responding -- we can skip apt update
             $APT_INSTALL || { sudo apt update && $APT_INSTALL ; }
             # constraining environment for riscv64 builds
             echo "ZARCH=riscv64" >> "$GITHUB_ENV"
          fi
          echo "ARCH=$(uname -m | sed -e 's/x86_64/amd64/' -e 's/aarch64/arm64/')" >> "$GITHUB_ENV"
          echo "TAG=$(echo "$REF" | sed -e 's#^.*/##' -e 's#master#snapshot#' -e 's#main#snapshot#')" >> "$GITHUB_ENV"
      - name: Login to DockerHUB
        run: |
          echo "${{ secrets.RELEASE_DOCKERHUB_TOKEN }}" |\
             docker login -u "${{ secrets.RELEASE_DOCKERHUB_ACCOUNT }}" --password-stdin
      - name: Build packages
        run: |
          # GH Actions convert our annotated tags into plain ones,
          # so we need to convert it back (but only if it exists).
          if [ -n "$(git tag)" ]; then
             git config --global user.name "Edge Virtualization Engine"
             git config --global user.email "eve@lfedge.org"
             for t in $(git tag); do
                git tag -a -m"Release $t" -f "$t" "$t"
             done
          fi
          # sadly, our build sometimes times out on network access
          # and running out of disk space: re-trying for 3 times
          for i in 1 2 3; do
             if make -e V=1 LINUXKIT_PKG_TARGET=push PRUNE=1 pkgs; then
                break
             else
                # the most likely reason for 'make pkgs' to fail is
                # the docker cache produced by the build exhausting
                # disk space. So the following can't hurt before we
                # retry:
                docker rmi -f `docker image ls -q` || :
                docker system prune -f || :
             fi
          done
      - name: Post package report
        run: |
          echo Disk usage
          df -h
          echo Memory
          free -m
          docker system df
          docker system df -v
      - name: Build EVE for KVM
        # build #1 without push (do not push either unless both can build)
        if: ${{ matrix.os != 'ubuntu-latest' }}
        run: |
          rm -rf dist dist.xen
          make -e V=1 HV=kvm eve
          mv -f dist dist.xen
      - name: Post eve KVM report
        run: |
          echo Disk usage
          df -h
          echo Memory
          free -m
          docker system df
          docker system df -v
      - name: Build and push EVE for Xen
        # since build #1 works, build and push #2
        if: ${{ matrix.os != 'ubuntu-latest' }}
        run: |
          make -e V=1 HV=xen LINUXKIT_PKG_TARGET=push eve
      - name: Post eve Xen report
        run: |
          echo Disk usage
          df -h
          echo Memory
          free -m
          docker system df
          docker system df -v
      - name: Build and push EVE for KVM
        # redo build #1 with push
        if: ${{ matrix.os != 'ubuntu-latest' }}
        run: |
          rm -rf dist
          mv -f dist.xen dist
          make -e V=1 HV=kvm LINUXKIT_PKG_TARGET=push eve
      - name: Build EVE for riscv64
        # special HV for riscv64
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          rm -rf dist dist.xen
          make -e V=1 HV=mini LINUXKIT_PKG_TARGET=push eve
      - name: Pre clean report
        if: ${{ always() }}
        run: |
          echo Disk usage
          df -h
          echo Memory
          free -m
          docker system df
          docker system df -v
      - name: Clean
        if: ${{ always() }}
        run: |
          make clean
          docker system prune -f -a
          rm -rf ~/.linuxkit

  manifest:
    if: github.event.repository.full_name == 'lf-edge/eve'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Login to DockerHUB
        run: |
          echo "${{ secrets.RELEASE_DOCKERHUB_TOKEN }}" |\
             docker login -u "${{ secrets.RELEASE_DOCKERHUB_ACCOUNT }}" --password-stdin
      - name: Push manifest
        run: |
          make -e V=1 LINUXKIT_PKG_TARGET=manifest pkgs
