# Copyright (c) 2025, Zededa, Inc.
# SPDX-License-Identifier: Apache-2.0
#
# NOTE that this is the only workflow that requires access to the
# GitHub token. However, it is safe since in EVE repo itself we
# only trigger this workflow on pull requests and as such making
# it effectively read-only.
# yamllint disable rule:line-length
#   https://docs.github.com/en/free-pro-team@latest/actions/reference/authentication-in-a-workflow#permissions-for-the-github_token
# yamllint enable rule:line-length
---
name: Apache Yetus
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - "master"
      - "[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+-stable"
      - "feature/*"

jobs:
  yetus:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          path: src
          fetch-depth: 0

      - name: Yetus
        uses: rene/yetus-test-patch-action@eve
        with:
          basedir: ./src
          buildtool: nobuild
          continuousimprovement: true
          githubtoken: ${{ secrets.GITHUB_TOKEN }}
          patchdir: ./out
          reviveconfig: .revive.toml

      - name: Store Yetus artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: 'yetus-scan'
          path: ${{ github.workspace }}/out
